* {
  padding: 0px;
}
ul {
  max-width: 375px;
  margin-top: 10px;
  margin-left: 10px;
}
.todo-list-items-container {
  list-style: none;
  display: flex;
  max-width: 375px;
  margin-bottom:10px;
}
.checkboxStyling {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.contentBox{
    width:90%;
    margin-left:10px;
    border-bottom:1px solid lightgray;
}
.contentStyling {
  width: 271px;
  height: 22px;
  margin-left:10px;
  font-family: "Arial";
  font-size: 18px;
  letter-spacing: -0.02em;
  padding-bottom: 5px;
  
}
