* {
  padding: 0px;
}
ul {
  max-width: 375px;
  margin-top: 10px;
  margin-left: 10px;
  max-height: 320px;
  overflow-y: auto;
}
.todo-list-items-container {
  list-style: none;
  display: flex;
  max-width: 375px;
  margin-bottom: 10px;
}
.checkboxStyling {
  clip-path: circle(50%);
  width: 20px;
  height: 20px;
}
.contentBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 10px;
  border-bottom: 1px solid lightgray;
}
.contentStyling {
  width: 271px;
  margin-left: 10px;
  font-family: "Arial";
  font-size: 18px;
  letter-spacing: -0.02em;
  padding-bottom: 5px;
}
.circle {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.completeStatus {
  background-color: green;
}
.inCompleteStatus {
  background-color: red;
}
